<!DOCTYPE html>
<html>
  <head>
    <% include ./layout/head %>
  </head>
  <body>
    <div class="preloader-wrapper big active" id="preloader">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
    
    <div id="react-entry"></div>
    <% include ./layout/body-scripts %>
  </body>
</html>
